<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<h1 align="center">Ajouter nouvel étudiant</h1>
<br>
<center> 
	<form action="add" method="POST">
		<label>ID</label><input type="number" name="id" /> 
		<br>
		<label>Nom</label><input type="text" name="nomEtudiant" /> 
		<br>
		<label>Email</label><input type="text" name="email" />
		<br>
		<input class="btn btn-primary" type="submit" value="Ajouter"/>
	</form>
	</center> 
	
</body>

</html>