<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	<h1 align ="center">Liste des étudiants </h1>
	<center> 
	<input action="add" class="btn btn-primary"  type="submit" value="Add Etudiant"/>
	</center> <br>
	<table class="table" align ="center" border="1">

		<tbody>
		
		<tr> <th> ID </th> <th> NOM </th> <th> EMAIL </th>  <th>  </th>
		
			<tr th:each="e : ${mesEtudiant}" >
				<td th:text="${e.id} "></td>
				<td th:text="${e.nom} "></td>
				<td th:text="${e.email} "> 
				<td> 
				<input action="add" class="btn btn-success"  type="submit" value="Update Etudiant"/>
				<input action="add" class="btn btn-danger"  type="submit" value="Delete Etudiant"/>
				</td>
			</tr>

			
		</tbody>
	</table>

</body>

</html>