<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
	<h1 align ="center">Liste des étudiants </h1><br>
	<center> 
	<h3>Pour ajouter un étudiant cliquer <a th:href="@{/etudiant/add}">ici</a></h3>
	
	</center> <br>
	<table class="table" align ="center" border="1">

		<tbody>
		
		<tr> <th> ID </th> <th> NOM </th> <th> EMAIL </th>  <th>  </th>
		
			<tr th:each="e : ${mesEtudiant}"  align ="center">
				<td th:text="${e.id} "></td>
				<td th:text="${e.nom} "></td>
				<td th:text="${e.email} "> 
				<td> 
				<a th:href="@{/etudiant/update/{id}(id=${e.id})}" class="btn btn-warning">Modifier</a>
				<a th:href="@{/etudiant/delete/{ide}(ide=${e.id})}" class="btn btn-danger">Supprimer</a>
				</td>
			</tr>

			
		</tbody>
	</table>

</body>

</html>